{% extends 'header.html' %}

{% block mycontent %}

    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <style>
                    body{
                        /* background-image: url('https://cdn.pixabay.com/photo/2018/11/12/19/49/icon-3811599_960_720.png'); */
                        background : linear-gradient(#2193b0,#6dd5ed);
                        background-size: 100vh;
                    }
                </style>
                <form action="add/" method="post">
                <table class="table table-borderless">
                    <center>
                    <h1 style="color: blue;"> <marquee behavior="scroll" direction="left">ADD Flat</marquee></h1>
                    </center>
                    <tr>
                        <!-- "productname","discription","price","manufacturer","manufacturingdate","expirydate" -->

                        <td style="color: blue;"><b>Building No.</b></td>
                        <td><input name="bulding_no" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Owner Name</b></td>
                        <td><input name="owner_name" type="text" class="form-control"></input></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Address</b></td>
                        <td><input name="address" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Mob.</b></td>
                        <td><input name="mobile_no" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Adhar No.</b></td>
                        <td><input name="adhar_no" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b> Email ID </b></td>
                        <td><input name="emailid" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Password</b> </td>
                        <td><input name="password" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center"><button class="btn-primary ">ADD</button></td>
                    </tr>
                </table>
            </form>
            </div>
               
                <div class="col col-2 col-sm-2 col-lg-2 col-xl-2 col-xxl-2">

                </div> 
            </div> 
    </div>   
{% endblock %}