{% extends 'header.html' %} 

{% block mycontent %} 


<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h1 align="center" style="color:black;"><marquee behavior="scroll" direction="left">Search Flat</marquee></h1>
            <style>
                body{
                    background :linear-gradient(#2980B9,#6DD5FA,#FFFFFF);
                    height: 100vh;
                }
            </style>
           <form action="http://127.0.0.1:8000/flats/search/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td style="color:black;"> <b><h4> Building No</h4> </b></td>
                    <td><input name="bulding_no" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-success">SEARCH</button></td>
                </tr>
            </table>
        </form>

        {% if data %} 
        <table class="table table-borderless table-striped">
            {% for i in data %}
            <tr>
                <td style="color: black;">Building No.</td>
                <td style="color: black;">{{i.bulding_no}}</td>
            </tr>

            <tr>
                <td style="color: black;">Owner Name	</td>
                <td style="color: black;">{{i.owner_name}}</td>
            </tr>

            <tr>
                <td style="color: black;">Address</td>
                <td style="color: black;">{{i.address}}</td>
            </tr>

            <tr>
                <td style="color: black;">Mob.	</td>
                <td style="color: black;">{{i.mobile_no}}</td>
            </tr>

            <tr>
                <td style="color: black;">Adhar No.</td>
                <td style="color: black;">{{i.adhar_no}}</td>
            </tr>

            <tr>
                <td style="color: black;">Email ID</td>
                <td style="color: black;">{{i.emailid}}</td>
            </tr>
            <tr>
                <td style="color: black;">Password</td>
                <td style="color: black;">{{i.password}}</td>
            </tr>


            {% endfor %} 
        </table>

       {% endif %}

</div>
</div>  
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
</div>

{% endblock   %}