{% extends 'header.html' %} 


{% block mycontent %} 



<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h1 align="center" style="color: red;"><marquee behavior="scroll" direction="left">Update Flat</marquee></h1>
            <style>
                body{
                    background :linear-gradient(#BBD2C5,#E4E5E6,#292E49);
                    height: 100vh;
                }
            </style>
            
           <form action="http://127.0.0.1:8000/flats/updateapi/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td style="color:red;"> <b>Building No </b></td>
                    <td><input name="bulding_no" type="text" class="form-control"></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-success">SEARCH</button></td>
                </tr>
            </table>
        </form>

            {% if data %} 
            <form action="http://127.0.0.1:8000/flats/updatedata/" method="post">
                <table class="table table-borderless table-striped">
                    {% for i in data %}
                    <tr>
                        <td style="color: blue;"></td>
                        <td style="color: blue;"><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                    </tr>
                   
                    <tr>
                        <td style="color: blue;">Building No</td>
                        <td style="color: blue;"><input name="newbuilding_no" value="{{i.bulding_no}}" type="text" class="form-control"></td>
                    </tr>
                   
                    <tr>
                        <td style="color: blue;">Owner Name</td>
                        <td style="color: blue;"><input name="newowner_name" value="{{i.owner_name}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Address</td>
                        <td style="color: blue;"><input name='newaddress' value="{{i.address}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Mob.</td>
                        <td style="color: blue;"><input name="newmobile_no" value="{{i.mobile_no}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Adhar No.</td>
                        <td style="color: blue;"><input name="newadhar_no" value="{{i.adhar_no}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Email ID</td>
                        <td style="color: blue;"><input name="newemailid" value="{{i.emailid}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Password</td>
                        <td style="color: blue;"><input name="newpassword" value="{{i.password}}" type="password" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td></td>
                        <td align="center"><button type="submit" class="btn btn-success">UPDATE</button></td>
                    </tr>
    
    
    
                    {% endfor %} 
                </table>
            </form>

           {% endif %}

    </div>
    </div>  
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
</div>

{% endblock   %}