{% extends 'header.html' %}

{% block mycontent %}

    <div class="container">
        <div class="row">
          <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
          </div>
          <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <style>
                body{
                    background: linear-gradient(#77A1D3,#79CBCA,#E684AE);
                    height: 100vh;

                }
            </style>
            <center><h1 style="color:antiquewhite;"><marquee behavior="scroll" direction="left">All Flats</marquee></h1></center>
             <table class="table table-borderless">
                 <thead class="table-warning">
                 <tr>
                     <th style="color: blue;">Building No.</th>
                     <th style="color: blue;">Owner Name</th>
                     <th style="color: blue;">Address</th>
                     <th style="color: blue;">Mob.</th>
                     <th style="color: blue;">Adhar No.	</th>
                     <th style="color: blue;">Email ID	</th>
                     <th style="color: blue;">Password</th>
                 </tr>
                </thead>

                <tbody>
                    {% for i in data %}
                    <tr>
                        <td style="color: black;"><b>{{i.bulding_no}}</b></td>
                        <td style="color: black;"><b>{{i.owner_name}}</b></td>
                        <td style="color: black"><b>{{i.address}}</b></td>
                        <td style="color: black"><b>{{i.mobile_no}}</b></td>
                        <td style="color: black"><b>{{i.adhar_no}}</b></td>
                        <td style="color: black"><b>{{i.emailid}}</b></td>
                        <td style="color: black"><b>{{i.password}}</b></td>
                    </tr>
                    {% endfor %}
                </tbody>
                  <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                  </div>
              </table>
          </div>
        </div>
    </div> 

{% endblock %}