{% extends 'header.html' %}
{% block mydata %}
<style >
    body {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP_1yOoqoIe8gp-GZvCrY6oDN5czlIageQKQ&usqp=CAU');
      background-repeat: no-repeat;
        
      background-size: cover;
    }
    </style>
<form action="http://127.0.0.1:8000/flat/add/" method="post">
    <!-- <tr>
        <td></td>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5puY-NBlgHVLoRMdO6pb5uM9dRZBo52o70Q&usqp=CAU" style="float:centre" ></td>
    </tr> -->
    <tr>
        <td><b>Building_no</b></td>
        <td><input name="Building_no" type="number" class="form-control"></td>
    </tr>
    <tr>
        <td><b>Owner_name</b></td>
        <td><input name="Owner_name" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td><b>Address</b></td>
        <td><input name="Address" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td><b>Mob_no</b></td>
        <td><input name="Mob_no" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td><b>Adhar_no</b></td>
        <td><input name="Adhar_no" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td><b>email_id</b></td>
        <td><input name="email_id" type="text" class="form-control"></td>
    </tr>
    <tr>
        <td><b>password</b></td>
        <td><input name="password" type="password" class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td><Button class="btn btn-success">ENTER</Button></td>
    </tr>


</table>
</form>
        </div>
    </div>
</div>
{% endblock %}