<!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flats Management App</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

           
    <style >
        body {
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_D0FeNH0buWHVReXP-fFvojS-GRLJ__LOjw&usqp=CAU');
          background-repeat: no-repeat;
            
          background-size: cover;
        }
        </style>
    <h2>Welcome !!</h2>
    <p><b> Click image to visit Flat Management App</b></p>
    <p><a href="http://127.0.0.1:8000/flat/addui/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiWfPuKGRIwZ910NLKxf_UBgh5RRUWVmObWw&usqp=CAU"  style="width:100px;height:100px;" class=" rounded-circle"></a></a></p>
    
</div>
</div>
</div>
</body>
</html>