{% extends 'header.html' %}
{% block mydata %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <style >
                body {
                  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIxyWzQXZPzSYZOfrwfkNyS4Y5UYYiM7k4lQ&usqp=CAU');
                  background-repeat: no-repeat;
                    
                  background-size: cover;
                }
                </style>
<table class="table table-borderless">
<thead class="table table-info">
<tr>
    <th>Buildingno</th>
    <th>Ownername</th>
    <th>Address</th>
    <th>Mobno</th>
    <th>Adharno</th>
    <th>emailid</th>
    <th>password</th>
</tr>
    </thead>
<thbody>
{% for i in data %}
    <tr>
        <td>{{i.Building_no}}</td>
        <td>{{i.Owner_name}}</td>
        <td>{{i.Address}}</td>
        <td>{{i.Mob_no}}</td>
        <td>{{i.Adhar_no}}</td>
        <td>{{i.email_id}}</td>
        <td>{{i.password}}</td>
    </tr>
{% endfor %}
</thbody>
</table>    
        </div>
    </div>
</div>
{% endblock %}








