body {
    background-color:#D3CCE3;
    
  } 

    
            .button {
              background-color: #555555; 
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              margin: 4px 2px;
              cursor: pointer;
            }             
            .button1{font-size: 24px;} 
    
  
            
            
            



           