<!DOCTYPE html>
<html><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">>
    <title>Villa Manage App</title>
<style>
     body {
        background-color: rgb(103, 145, 201);
      }
      
      h1 {
        color: rgb(199, 27, 27);
        text-align: center;
      }
      
      p {
        font-family: cursive;
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
      }
</style>
</head>
<body>
    <table class="table"></table>
    <div class="container">
        <div class="w3-bar w3-border w3-green">
            <a href="../first/" class="w3-bar-item w3-button w3-padding-large">Home</a>
            <a href="../regi/" class="w3-bar-item w3-button w3-padding-large">Registration</a>
            <a href="../wel/" class="w3-bar-item w3-button w3-padding-large">Welcome</a>
          </div>
   <h1> Welcome To KSM villa</h1>
   <p>The life long pleasure and wonderful place to live with your loved one,
       A place to rest without any worries,welcome to KSM villa 
       
   </p>
{% block data %}


{% endblock %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>