<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.previous {
  background-color: #b30b0b;
  color: rgb(235, 228, 228);
}
body {
        background-color: rgb(176, 233, 228);
      }
</style>

</head>
<body>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbdBfLClZJXY7cRYtaHAi3uKdIGYW2HV8iOQ&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbdBfLClZJXY7cRYtaHAi3uKdIGYW2HV8iOQ&usqp=CAU">
  </a>
  <div class="desc">Compact house with one master bedroom,bathroom attached</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ebDMdCihOx1N7a6sVtLdju3P2xmL4EDIrA&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ebDMdCihOx1N7a6sVtLdju3P2xmL4EDIrA&usqp=CAU" >
  </a>
  <div class="desc">Small home with one bedroom and back yard</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR506ViBHcBOoe2YLGLbPRvtFyLxtYXGGcsWQ&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR506ViBHcBOoe2YLGLbPRvtFyLxtYXGGcsWQ&usqp=CAU" >
  </a>
  <div class="desc">Compact Home ,Good atmospheric ambience full nature</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsUue_PkaCYxlkTOXl8ZF9_NR0bl-3I9YAKQ&usqp=CAU">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsUue_PkaCYxlkTOXl8ZF9_NR0bl-3I9YAKQ&usqp=CAU" >
  </a>
  <div class="desc">Two bedroom home, Fully furnished</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>
<footer>
    <a href="../wel/" class="previous">&laquo; Previous</a>
</footer>
