<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table class="table">
    <tr>
        <td> seller name </td>
        <td> <input class="form-control" type="text"> </td>
    </tr>
    <tr>
        <td> seller address </td>
        <td> <input class="form-control"  type="text"> </td>
    </tr>
    <tr>
        <td> emailid </td>
        <td> <input class="form-control"  type="text"> </td>
    </tr>
    <tr>
        <td> phone number </td>
        <td> <input class="form-control"  type="text"> </td>
    </tr>
    <tr>
        <td> date of birth </td>
        <td> <input class="form-control"  type="date"> </td>
    </tr>
    <tr>
        <td> District </td>
        <td>
            <select class="form-control" name="" id="">
                <option value=""> Chittoor </option>
                <option value=""> Anantapur </option>
                <option value=""> Nellore </option>
            </select>
        </td>
    </tr>
    <tr>
        <td> age </td>
        <td> <input class="form-control"  type="number"> </td>
    </tr>
    <tr>
        <td> aadhar number </td>
        <td> <input class="form-control"  type="text"> </td>
    </tr>
    <tr>
        <td></td>
        <td>  <Button class="btn btn-success">  Submit </Button> </td>
    </tr>
</table>
</body>
</html>