{%extends 'header.html'%}
{%block myContent%}
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 "></div>
            <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xl-8 col-xxl-8">
                
                <form action="http://127.0.0.1:8000/flat/search/" method="post">
            <table class="table table-borderless">
        <tr>
            <td>BUILDING_NO</td>
            <td><input name="buildingno" type="number" class="form-control"></td>
        </tr>
        
        
        <tr>
            <td></td>
            <td><Button type="submit" class="btn btn-success">SEARCH</Button></td>
        </tr>
    </table>
    </form>
    {% if data %}
    <table class="table">
     {% for i in data %}
     
     <tr>
         <td>BUILDING_NO</td>
         <td>{{i.buildingno}}</td>
     </tr>
     <tr>
        <td>OWNER_NAME</td>
        <td>{{i.ownername}}</td>
    </tr>
    <tr>
        <td>ADDRESS</td>
        <td>{{i.address}}</td>
    </tr>
    <tr>
        <td>MOBILE_NO</td>
        <td>{{i.mobileno}}</td>
    </tr>
    <tr>
        <td>ADHAAR_NO</td>
        <td>{{i.adhaarno}}</td>
    </tr>
    <tr>
        <td>EMAIL_ID</td>
        <td>{{i.emailid}}</td>
    </tr>
    <tr>
        <td>PASSWORD</td>
        <td>{{i.password}}</td>
    </tr>
     {% endfor %}
</table>
    </div>
    {% endif %}
<div class="col-12 col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
 
</div>
</div>   

{%endblock%}