{% extends 'header.html' %}
{% block myContent %}
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 "></div>
            <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xl-8 col-xxl-8">
                
        <form action="http://127.0.0.1:8000/flat/add/" method="post">
            <table class="table table-borderless">
        <tr>
            <td>BUILDING_NO </td>
            <td><input name="buildingno" type="number" class="form-control"></td>
        </tr>
        <tr>
            <td> OWNER_NAME </td>
            <td> <input name="ownername" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td> ADDRESS </td>
            <td> <input name="address" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td> MOBILE_NO </td>
            <td> <input name="mobileno" type="number" class="form-control"></td>
        </tr>
        <tr>
            <td> ADHAAR_NO </td>
            <td> <input name="adhaarno" type="number" class="form-control"></td>
        </tr>
        <tr>
            <td> EMAIL_ID </td>
            <td> <input name="emailid" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td> PASSWORD </td>
            <td> <input name="password" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>TYPE</td>
            <td>SALE<input name="TYPE" type="checkbox"  value="sale">
                RENT<input name="TYPE" type="checkbox"  value="rent">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><Button type="submit" class="btn btn-success"> SUBMIT</Button></td>
        </tr>
    </form>
    </table>
    </div>
<div class="col-12 col-2 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
 
</div>
</div>   

{% endblock %}