{% extends 'header.html' %}

{% block mycontent %}
  
<h1 style="color: blue ; font-size: large; font-style: italic;" >DELETE</h1>

    <div class="container">
        <div class="row">
                <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
                <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <form action="http://127.0.0.1:8000/flats/deletesearch/" method="post">

                      <table class="table table-borderless" class="form-control">
                        <tr>
                            <td>Buildingno</td>
                            <td><input name="buildingno" type="number" class="form-control"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><button  type="submit" class="btn btn-info">SEARCH</button></td>
                        </tr>
                       </table>
                    </form>
                         {% if data %}    
                         <form action="http://127.0.0.1:8000/flats/deleteApi/" method="post">
                            <table class="table table-borderless">
                                {% for i in data %}
                                <tr>
                                    <td> </td>
                                    <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                                </tr>
    
                                <tr>
                                    <td>Buildingno</td>
                                    <td><input readonly name="newbuildingno" value="{{i.buildingno}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Ownername</td>
                                    <td><input readonly name="newownername" value="{{i.ownername}}" type="text" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><input readonly name="newaddress" value="{{i.address}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Mobileno</td>
                                    <td><input readonly  name="newmobileno" value="{{i.mobileno}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input readonly  name="newemail" value="{{i.email}}" type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Adharno</td>
                                    <td><input  readonly name="newadharno" value="{{i.adharno}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input readonly  name="newpassword" value="{{i.password}}" type="number" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button  type="submit" class="btn btn-danger">Delete</button></td>
                                </tr>
                         </form>

                            {% endfor %}
                         </table> 
                            {% endif %}
                    </div>
                    <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            </div>
        </div>
        
    
{% endblock %}