{% extends 'header.html' %}

{% block mycontent %}
<h1 style="color: rgb(255, 94, 0) ; font-size: large; font-style: initial;" >VIEW</h1>


<div class="container">
  <div class="row">
          <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
          <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
              <table class="table table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>Buildingno</th>
                    <th>Ownername</th>
                    <th>Address</th>
                    <th>Mobileno</th>
                    <th>Email</th>
                    <th>Adharno</th>
                    <th>Password</th>
                  </tr>
                </thead>

                <tbody>
                  {% for i in data %}
                <tr>
                  <td>{{i.buildingno}}</td>
                  <td>{{i.ownername}}</td>
                  <td>{{i.address}}</td>
                  <td>{{i.mobileno}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.adharno}}</td>
                  <td>{{i.password}}</td>
                </tr>  
                   {% endfor %}
                </tbody>
          
          </table>
          </div>
          <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
  </div>
</div>

    
{% endblock %}