

{% extends 'header.html' %}

{% block mycontent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
         <form action="http://127.0.0.1:8000/flats/delete/" method="post">
     
        <table class="table table-borderless">
            <tr>
                <td> Building_No </td>
                <td> <input name="building_no" type="text" class="form-control"> </td>
            </tr>
            <tr>
                <td></td>
                <td>  <center> <Button type="submit" class="btn btn-success"> SEARCH </Button> </center></td>
            </tr>
        </table>
    </form>

     {% if data  %}
   <form action="http://127.0.0.1:8000/flats/deletedata/" method="post">
    <table class="table table-borderless">
        {%  for i in data %}
        <tr>
            <td>  </td>
            <td> <input name="newId" value="{{i.id}}" type="hidden" class="form-control" > </td>
        </tr>
         <tr>
             <td> Building_No </td>
             <td> <input readonly name="newbuilding_no" value="{{i.building_no}}" type="text" class="form-control" readonly> </td>
         </tr>
         <tr>
             <td> Owner_Name </td>
             <td> <input readonly name="newowner_name" value=" {{i.owner_name}}" type="text" class="form-control"> </td>
         </tr>
         <tr>
            <td> Address </td>
            <td> <input readonly name="newaddress"  value=" {{i.address}}" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Mobile_No </td>
            <td> <input readonly name="newmobile_no"  value=" {{i.mobile_no}}" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Aadhar_No </td>
            <td> <input readonly name="newaadhar_no"  value=" {{i.aadhar_no}}" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Email_Id </td>
            <td> <input readonly name="newmail_id"  value=" {{i.mail_id}}" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Password </td>
            <td> <input name="newpassword"  value=" {{i.password}}" type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td></td>
            <td> <center> <Button type="submit" class="btn btn-primary"> DELETE</Button> </center> </td>
        </tr>
        {%  endfor %}
     </table>
   </form>
    
         {% endif  %}

        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
    </div>
</div>

{% endblock %}