{% extends 'header.html' %}

{% block mycontent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/flats/add/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td> Building_No </td>
                    <td> <input name="building_no" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td> Owner_Name </td>
                    <td> <input name="owner_name" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td> Address </td>
                    <td> <input name="address" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td> Mobile_No </td>
                    <td> <input name="mobile_no" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td> Aadhar_No </td>
                    <td> <input name="aadhar_no" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td> Email_Id </td>
                    <td> <input name="mail_id" type="text" class="form-control">  </td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td> <input name="password" type="password" class="form-control"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <center> <Button type="submit" class="btn btn-success"> SUBMIT </Button> </center> </td>
                </tr>
            </table>
           </form>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
    </div>
</div>

{% endblock %}