{% extends 'header.html' %}

{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
         <form action="http://127.0.0.1:8000/flats/search/" method="post">
            <table class="table table-borderless">
                <tr>
                    <td> Building_No </td>
                    <td> <input name="building_no" type="text" class="form-control"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <center> <Button type="submit" class="btn btn-success"> SEARCH </Button> </center> </td>
                </tr>
            </table>
         </form>
         {%  if data %}
         <table class="table">
             <tr>
                 {%  for i in data %}
                 <td> Owner_Name </td>
                 <td> {{i.owner_name}} </td>
             </tr>
             <tr>
                 <td> Address </td>
                 <td> {{i.address}} </td>
             </tr>
             <tr>
                <td> Mobile_no </td>
                <td> {{i.mobile_no}} </td>
            </tr>
            <tr>
                <td> Aadhar_No </td>
                <td> {{i.aadhar_no}} </td>
            </tr>
             {% endfor %}
         </table>
         {% endif %}
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">

        </div>
    </div>
</div>

{% endblock %}