<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    
</head>
<body>

    <style>
       body{
             background-image: url('/static/flathydb.jpg');
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-size: cover;
        }
    </style>
       <br>
       <br>
       <br>
       <br>
       <br>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                <center><a href="http://127.0.0.1:8000/flat/register/"><button  class="button button">FLAT REGISTER</button></a></center>
                <center><a href="http://127.0.0.1:8000/flat/contact/"><button class="button button"> CONTACT US</button></a></center> 
                <br>
                <br>
                <br>
                <center><p>"World's largest Brokerage Free Real Estate Portal.<br>
                    Connecting Tenants and Owners Directly.Choose from 1000s of owner Listings<br>
                    No Reservation Costs"</p></center>

            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        </div>
    </div>
</body>
</html>