{% extends 'header.html' %} 
{% block x %} 
    

<style>
    body{
        
        background-image: url('https://images.pexels.com/photos/1738986/pexels-photo-1738986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500.jpg');
        background-size: cover;
        background-position: center; 
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
        
    }
    h1 {
  text-shadow: 0 0 3px #00d9ff, 0 0 5px #0000FF;
}
    .table{
   text-shadow: 2px 2px 8px #00d9ff;
   font-family: serif;
   font-family: sans-serif;
}




</style>

<h1 align="center" <font color="white"><b>ADD DETAILS</font></h1>
    


    <div class="container">
        <div class="row" >
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <div class="watermark">
                
               </div>
                
                <form action="http://127.0.0.1:8000/flats/add/" method="POST">
                <table class="table table-borderless">
                    
                    <tr>
                        <td><b><font color="white">BUILDING NUMBER</font></td>
                        <td><input name="buildingno" placeholder="Building Number" type="number" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b><font color="white">OWNER NAME</font></td>
                        <td><input name="ownername" placeholder="Owner Name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b><font color="white">ADDRESS</font></td>
                        <td><input name="address" placeholder="Address" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><b><font color="white">ADHAR NO</font></td>
                        <td><input name="adhar" placeholder="Adhar Number" type="text" class="form-control"></td>
                    </tr>
                    
                    <tr>
                        <td><b><font color="white">MOBILE NO</font></td>
                        <td><input name="mobile" placeholder="Mobile Number" type="text" class="form-control"></td>
                    </tr>

                    <tr>
                        <td><b><font color="white">EMAIL ID</font> </td>
                        <td><input name="email" placeholder="Email Id" type="text" class="form-control"></td>
                    </tr>

                    <tr>
                        <td><b><font color="white">PASSWORD</font></td>
                        <td><input name="password" placeholder="Password" type="password" class="form-control"></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td align="center"><button class="btn btn-info"><b>SUBMIT</button></td>
                    </tr>
                </table>
            </form>
        </div>
        </div>  
                <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                </div>
    </div>
           
{% endblock   %}