{% extends 'header.html' %} 

{% block x %} 


<!-- <style >
   h1{
    
    text-shadow: 0 0 3px #00d9ff, 0 0 5px #0000FF;
    position:absolute;
    left:50%;
    right:50%;
    top:50%;
    bottom:50%;
   }
        
</style>

<h1 align="center" <font color="bg-info"><b>FLAT MANAGEMENT SYSTEM</font></h1>
     -->
     <center><b><h1 style="color:black;">FLAT MANAGEMENT SYSTEM</h1></b></center>
     <style>
     body{
         background:linear-gradient(#00d9ff,#3f4bf4); 
         height: 100vh; 
     }

     h1{
    
    text-shadow: 0 0 3px #1900ff, 0 0 5px #8c00ff;
    position:absolute;
    font-size: 70px;
    left:50%;
    right:50%;
    top:50%;
    bottom:50%;
    font-family: serif;
   }
     </style>
   



{% endblock %} 


    