{% extends 'header.html' %} 

{% block x %} 


<style>
    body{
        
        background-image: url('https://images.pexels.com/photos/17668/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.jpg');
        background-size: cover;
        background-position: center; 
        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto; 
        min-width: 50%;
        min-height: 50%;
        
    }
    h1 {
  text-shadow: 0 0 3px #00d9ff, 0 0 5px #0000FF;
}
    .table{
   text-shadow: 2px 2px 8px #00d9ff;
   font-family: serif;
   font-family: sans-serif;
}



</style>






<h1 align="center" <font color="green">UPDATE DETAILS</h1>
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/flats/apiupdate/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td><b>BUILDING NUMBER</td>
                    <td><input name="buildingno" type="number" class="form-control"></td>
                </tr>
                
                
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-info">SEARCH</button></td>
                </tr>
            </table>
        </form>

            {% if data %} 
            <form action="http://127.0.0.1:8000/flats/update/" method="POST">

            <table class="table table-borderless table-striped">
                {% for i in data %}
               
                <tr>
                    <td>BUILDING NUMBER</td>
                    <td> <input name="newbuildingno" value="{{i.buildingno}}" type="hidden" class="formcontrol" readonly> </td>
                </tr>
                <tr>
                    <td>OWNER NAME</td>
                    <td><input name="newownername" value="{{i.ownername}}" type="text" class="formcontrol"></td>
                </tr>
                <tr>
                    <td>ADDRESS</td>
                    <td><input name="newaddress" value="{{i.address}}" type="text" class="formcontrol"></td>
                </tr>  
                <tr>
                    <td>ADHAR NUMBER</td>
                    <td><input name="newadhar" value="{{i.adhar}}" type="text" class="formcontrol"></td>
                </tr>
                <tr>
                    <td>MOBILE NUMBER</td>
                    <td><input name="newmobile" value="{{i.mobile}}" type="text" class="formcontrol"></td>
                </tr>
                <tr>
                    <td>EMAIL</td>
                    <td><input name="newemail" value="{{i.email}}" type="text" class="formcontrol"></td>
                </tr>
                <tr>
                    <td>PASSWORD</td>
                    <td><input name="newpassword" value="{{i.password}}" type="text" class="formcontrol"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-info">UPDATE</button></td>
                </tr>


                {% endfor %} 
            </table>
        </form>

           {% endif %}

    </div>
    </div>  
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
</div>

{% endblock    %}
    