{%extends 'header.html'%}

{% block page %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h1 style= "color:crimson; text-align:center;">About FMS</h1>

            <body style= "color:rgb(3, 1, 12); text-align:center;">
                <bodyblock style= "color:rgb(1, 1, 17); text-align:center;"> <b>If you can envision it, we can make it!</b> </bodyblock>
            
                <bodyblock style= "color:rgb(5, 2, 24); text-align:center;"> <b></b> </bodyblock>
            
                <bodyblock style= "color:rgb(1, 1, 19); text-align:center;"> <b>Our events and campaigns, are all about the science and art of creating best human living and life style.</b> </bodyblock>
                
                <bodyblock style= "color:rgb(5, 2, 24); text-align:center;"> <b>At FMS, our motto is on delivering top quality apartments in Thanjuvr.</b> </bodyblock>
            
            
            
            
            <table class="table table-borderless" style=" text-align:center;">
                
                    <td><Button class="btn-btn-success" >CONTACT US</Button></td>
                
            </table>
        </div>   


        
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>


{%endblock%}
