{%extends 'header.html'%}

{% block page %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            
            <form action="http://127.0.0.1:8000/flats/search/" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>User ID</td>
                        <td><input name= "id" type="text" class="form-control" placeholder="Enter user ID "></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type ="submit" class="btn btn-success">Get Details</button></td>
                    </tr>
    
                </table>
                </form>
        
{% if data %}
<table class="table table-borderless">
    {% for i in data %}
    <tr>
        <td style = "color:rgb(128, 2, 2);"> <b> Customer Name</b></td>
        <td>{{i.ownerName}}</td>
    </tr>
    <tr>
        <td style = "color:rgb(128, 2, 2);"><b>Flat No</b></td>
        <td>{{i.flatno}}</td>
    </tr>
    <tr>
        <td style = "color:rgb(128, 2, 2);"><b>Building No</b></td>
        <td>{{i.buildingno}}</td>
    </tr>
    <tr>
        <td style = "color:rgb(128, 2, 2);"><b>Address</b></td>
        <td>{{i.address}}</td>
    </tr>
    <tr>
        <td style = "color:rgb(128, 2, 2);"><b>Mobile No</b></td>
        <td>{{i.mobile}}</td>
    </tr>
    <tr>
        <td style = "color:rgb(128, 2, 2);"><b>Email ID</b></td>
        <td>{{i.email}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

    

        
       </div> 
    
</div>

{% endblock %}